# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\0学习\MavenDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
